<%= form_for @partage do |f| %>

  <div><%= f.label "Liste à partager" %></div>
  <div><%= f.collection_select :liste_id, @listes, :id, :nom_liste, include_blank: false%></div>

  <div><%= f.label "Avec" %>
  <div><%= f.text_field :destinataire_name %></div>

  <div><%= f.submit %><div>

<% end %>

<% if @partage.errors.any?%>
<% @partage.errors.each do |k,v| %>
  <p><%= v unless v == "must exist"%></p>
  <%end%>
<%end%>

<p id=alert><%=alert%></p>
