<%= form_with(model: @liste, local: true) do |form| %>
  <% if @liste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liste.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% liste.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nouvelle liste :"%>
    <%= form.text_field :nom_liste, id: :liste_nom_liste, :autofocus => true, :autocomplete => "off" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<% if alert && alert["nom_liste"] != ""%>
<% alert["nom_liste"].each do |e|%>
  <p id=alert><%=e%></p>
<%end%>
<%end%>

<p> <%= link_to "Retour à l'édition des listes", listes_path %></p>
<p> <%= link_to "Retour aux listes", root_path %></p>
