<%= form_with(model: @liste, local: true) do |form| %>
  <div class="field">
    <%= form.label "Nouvelle liste :"%>
    <%= form.text_field :nom_liste, id: :liste_nom_liste, :autofocus => true, :autocomplete => "off" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render 'shared/errors_display', element: @liste %>
