<h1> Se connecter</h1>

<%= form_tag log_in_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Sign in" %>

  <p id=alert><%=alert%></p>

  <%= link_to "Pas encore de compte? S'inscrire.", new_user_path %>
<% end %>
