<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<script>function myFunction(event)
  {
    var articleClicked = event.target.id
    if (document.getElementById(articleClicked).style.textDecoration == "line-through"){
      document.getElementById(articleClicked).style.textDecoration = "";
    } else {
      document.getElementById(articleClicked).style.textDecoration = "line-through";
    }
  }
</script>



<div id="main-container" class="responsive-table">

<h1><%= @liste.nom_liste %></h1>

<table width=100% class="table-hover table">
  <thead>
    <tr>
      <th>Article</th>
      <th id="buttonstRow"><%= link_to "", 'destroy_all', class: 'btn-sm btn-danger glyphicon glyphicon-trash',method: :delete, data: {confirm: "Remettre la liste à 0 ?"} %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td id=<%="article#{article.id}"%> onclick="myFunction(event)"><%= article.article.capitalize%></td>
        <td id="buttonstRow"><%= link_to "", liste_article_path(id: article.id), class: 'btn-sm btn-danger glyphicon glyphicon-minus',method: :delete%></td>
      </tr>
    <% end %>



  </tbody>
</table>

<table width=100% class="table-hover table">
  <tr width=100%>
    <td id="add_form" width=100%>

    <%= form_for [@liste,@article] do |f|%>
    <%=f.text_field :article, :autofocus => true, :autocomplete => "off" %>
    <%=button_tag "", type: 'submit', class: 'btn-sm btn-success glyphicon glyphicon-plus'%>
    <%end%>

    </td>
  </tr>
</table>


</div>

<p id=notice><%=notice%></p>
<p id=alert><%=alert%></p>

  <%# button_tag "", action:"/articles/#{article[:id]}", class: 'btn-sm btn-danger glyphicon glyphicon-minus', method: :delete%>
  <%#link_to (‘<i class=“fa fa-thumbs-up fa-lg”> </i>’).html_safe, vote_path(@image), :method=> :delete, :remote=> true%>
