<script>function myFunction(event)
  {
    var articleClicked = event.target.id
    if (document.getElementById(articleClicked).style.textDecoration == "line-through"){
      document.getElementById(articleClicked).style.textDecoration = "";
    } else {
      document.getElementById(articleClicked).style.textDecoration = "line-through";
    }
  }
</script>


  <div id="main-container" class="responsive-table">

<h2>Liste de courses</h2>

<table class="table-hover table"
  <thead>
    <tr>
      <th>Article</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td id=<%="article#{article.id}"%> onclick="myFunction(event)"><%= article.article.capitalize%></td>
        <td><%= link_to "", article, class: 'btn-lg btn-danger glyphicon glyphicon-trash',method: :delete%></td>
    <% end %>
      <tr>
        <%= form_for @article do |f|%>
        <td><%=f.text_field :article, :autofocus => false %></td>
        <td><%=button_tag "", type: 'submit', class: 'btn-lg btn-success glyphicon glyphicon-plus'%></td>
        <%end%>
      </tr>
  </tbody>
</table>
</div>


  <%# button_tag "", action:"/articles/#{article[:id]}", class: 'btn-sm btn-danger glyphicon glyphicon-minus', method: :delete%>
  <%#link_to (‘<i class=“fa fa-thumbs-up fa-lg”> </i>’).html_safe, vote_path(@image), :method=> :delete, :remote=> true%>
