<!DOCTYPE html>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<html>
  <head>
    <title>LiteCourses</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="col-sm-offset-2"> Lite Courses</h1>
      <% if session[:user_id]%>
      <div class="col-sm-offset-2"><%= "Connecté : #{session[:user_name].capitalize}"%>
      <%= link_to "Se déconnecter", log_out_path %></div>
      <% end %>
    </div>

    <%= yield %>

    <%if (session[:user_id])%>
      <div><%= link_to "Accueil", root_path unless current_controller?('articles') %></div>
      <div><%= listes_links %></div>
      <div><%= partages_links %></div>
    <%end%>
  </body>
</html>
