<!DOCTYPE html>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<html>
  <head>
    <title>LiteCourses</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id]%>
    <div><%= "Connecté : #{session[:user_name]}"%>
    <%= link_to "Se déconnecter", log_out_path %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
